{% extends 'core/base.html' %} 

{% block title %} Início - Meu Portifólio {% endblock %} 

{% block extra_css %}
<style>
  
</style>
{% endblock %} {% block content %}
<div class="secao card">
  <h3>Sobre Mim</h3>
  <p style="font-size: 1.1rem; color: #555; line-height: 1.8">
    {{dados.descricao}}
  </p>
</div>

<div class="secao card">
  <h3>Dados Pessoais</h3>
  <ul class="info-list">
    <li class="info-item">
      <span class="info-label">Nome: </span>
      <span class="info-value">{{dados.nome}}</span>
    </li>
    <li class="info-item">
      <span class="info-label">Idade: </span>
      <span class="info-value">{{dados.idade}}</span>
    </li>
    <li class="info-item">
      <span class="info-label">Curso: </span>
      <span class="info-value">{{dados.curso}}</span>
    </li>
    <li class="info-item">
      <span class="info-label">Período: </span>
      <span class="info-value">{{dados.periodo}}</span>
    </li>
  </ul>
</div>

<div class="secao card">
  <h3>Cursos e Certificados</h3>
  {% for curso in cursos %}
  <div class="info-item">
    <span class="info-label">{{curso.titulo}}:</span>
    <span class="info-value">{{curso.instituicao}}</span>
  </div>
  {% empty %}
  <p>Nenhum curso foi cadastrado ainda.</p>
  {% endfor %}
</div>

{% endblock %}
